infra/n8n/workflows/whatsapp-agent.json
{
  "name": "WhatsApp → Agent (Buffer Redis)",
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "whatsapp-chat-webhook"
    },
    {
      "parameters": {
        "command": "LPUSH msg:{{ $json.phone }} {{ $json.message }}",
        "additionalFields": {
          "keyExpiration": 120
        }
      },
      "id": "buffer-message",
      "name": "Buffer Message (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "command": "SETNX lock:{{ $json.phone }} 1",
        "additionalFields": {
          "keyExpiration": 70
        }
      },
      "id": "set-lock",
      "name": "Set Lock (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "lock-check",
              "leftValue": "={{ $json }}",
              "rightValue": 1,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lock",
      "name": "Check Lock",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-debounce",
      "name": "Wait 60s (Debounce)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 200],
      "webhookId": "wait-debounce-webhook"
    },
    {
      "parameters": {
        "command": "LRANGE msg:{{ $json.phone }} 0 -1"
      },
      "id": "get-buffer",
      "name": "Get Buffer (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "const msgs = $input.all().map(i => i.json).flat();\nreturn [{ json: { message: msgs.join(' '), phone: $('Set Lock (Redis)').first().json.phone } }];"
      },
      "id": "join-messages",
      "name": "Join Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/rag/chats/{{ $json.phone }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-chat-history",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Get Chat History').first().json;\nconst history = (raw.chatHistory || []).map(msg => ({\n  role: msg.type === 'HUMAN' ? 'user' : 'assistant',\n  content: msg.content\n}));\nreturn [{ json: { chatHistory: history, phone: $('Join Messages').first().json.phone, message: $('Join Messages').first().json.message } }];"
      },
      "id": "transform-history",
      "name": "Transform Chat History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_URL }}/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "history",
              "value": "={{ $json.chatHistory ?? [] }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RAG_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "call-agent",
      "name": "Call Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "escalate-check",
              "leftValue": "={{ $json.escalate }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-escalate",
      "name": "Check Escalate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2320, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/rag/escalations",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "reason",
              "value": "={{ $json.escalation?.reason ?? 'unresolved' }}"
            },
            {
              "name": "clientQuestion",
              "value": "={{ $json.escalation?.clientQuestion ?? $json.message }}"
            },
            {
              "name": "context",
              "value": "={{ $json.escalation?.context ?? '' }}"
            },
            {
              "name": "suggestedAction",
              "value": "={{ $json.escalation?.suggestedAction ?? '' }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RAG_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "register-escalation",
      "name": "Register Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2540, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { answer: $json.answer, sources: $json.sources, model: $json.model, chat_id: $json.chat_id } }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2540, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { answer: $json.answer, escalate: true, escalation: $json.escalation, chat_id: $json.chat_id } }}",
        "options": {}
      },
      "id": "send-escalation",
      "name": "Send Escalation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2760, 400]
    },
    {
      "parameters": {
        "command": "DEL msg:{{ $('Set Lock (Redis)').first().json.phone }}\nDEL lock:{{ $('Set Lock (Redis)').first().json.phone }}"
      },
      "id": "cleanup-redis",
      "name": "Cleanup Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2760, 200],
      "executeOnce": true,
      "alwaysRun": true
    },
    {
      "parameters": {},
      "id": "stop-no-lock",
      "name": "Stop (Already Processing)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1120, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buffer Message (Redis)", "type": "main", "index": 0 }]]
    },
    "Buffer Message (Redis)": {
      "main": [[{ "node": "Set Lock (Redis)", "type": "main", "index": 0 }]]
    },
    "Set Lock (Redis)": {
      "main": [[{ "node": "Check Lock", "type": "main", "index": 0 }]]
    },
    "Check Lock": {
      "main": [
        [{ "node": "Wait 60s (Debounce)", "type": "main", "index": 0 }],
        [{ "node": "Stop (Already Processing)", "type": "main", "index": 0 }]
      ]
    },
    "Wait 60s (Debounce)": {
      "main": [[{ "node": "Get Buffer (Redis)", "type": "main", "index": 0 }]]
    },
    "Get Buffer (Redis)": {
      "main": [[{ "node": "Join Messages", "type": "main", "index": 0 }]]
    },
    "Join Messages": {
      "main": [[{ "node": "Get Chat History", "type": "main", "index": 0 }]]
    },
    "Get Chat History": {
      "main": [[{ "node": "Transform Chat History", "type": "main", "index": 0 }]]
    },
    "Transform Chat History": {
      "main": [[{ "node": "Call Agent", "type": "main", "index": 0 }]]
    },
    "Call Agent": {
      "main": [[{ "node": "Check Escalate", "type": "main", "index": 0 }]]
    },
    "Check Escalate": {
      "main": [
        [{ "node": "Register Escalation", "type": "main", "index": 0 }],
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Register Escalation": {
      "main": [[{ "node": "Send Escalation", "type": "main", "index": 0 }]]
    },
    "Send Response": {
      "main": [[{ "node": "Cleanup Redis", "type": "main", "index": 0 }]]
    },
    "Send Escalation": {
      "main": [[{ "node": "Cleanup Redis", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
